<!--
  Generated template for the PedidoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <div class="content_logo header">
          <img src="../../assets/imgs/logo_petroil.png" alt="logo" class="logo">
      </div>
      <button ion-button menuToggle right>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-navbar>
  </ion-header>
<ion-content padding id="pedido">
    <div class="center">
        <label class="titulo1">JMS Data Services</label>
        <label class="text1">+52 1 473 123 4567</label>
        <label class="text1">consulta@jmsdataservices.com</label>
        <label class="titulo2">Pedido Nuevo</label>
    </div>
    <form action="" id="pedidoForm" name="pedidoForm" >
          <ion-row class="ion-justify-content-start">
            <label for="fechaSurtido">Fecha y hora de surtido de pedido</label>
            <div class="col1">
              <div class="col2">                  
                      <input [ngModelOptions]="{standalone: true}" [(ngModel)]="inputDate" (focus)="onFocusDate()" class="input-text-date" type="text" id="fechaSurtido"  displayFormat="YYYY/MM/DD" pickerFormat="YYYY MMMM DDDD">
                </div>
                <div class="col2">                  
                      <!-- <input type="time" id="horaSurtido"> -->
                      <input [ngModelOptions]="{standalone: true}" [(ngModel)]="inputDateTime" (focus)="onFocusDateTime()" class="input-text-date" type="text" id="horaSurtido">
                </div>
            </div>
              
            
          </ion-row>
      <div class="input_content">
        <label for="estacion">Estación de servicio</label>
          <select name="estacion" id="estacion">
            <option value="1">Estacion 123</option>
            <option value="2">Estacion 456</option>
          </select>
      </div>
      <div class="input_content">
        <label for="formaEntrega">Forma de entrega</label>
        <ng-template ngFor let-combo let-i="index" [ngForOf]="combos">
            <ul *ngIf="combo?.status == 'active' " class="combo_list active">
                <span class="droparrow" (click)="openCombo(i)"></span>
                <ng-template ngFor let-select let-i="index" [ngForOf]="selects">
                    <li>
                        <span (click)="checkCombo(i)" >{{select?.descripcion}}</span>
                    </li>
                </ng-template>
            </ul>
            <!-- <ul class="combo_list active">
                <ng-template ngFor let-pedido let-i="index" [ngForOf]="pedidosGas">
                    <li *ngIf="pedido?.status == 'active' " class="active" (click)="openBar(i)">
                        {{pedido?.statusPrecios}}
                    </li>
                    <li *ngIf="pedido?.status != 'active' " (click)="openBar(i)">
                        {{pedido?.statusPrecios}}
                    </li>
                </ng-template>
            </ul> -->
        </ng-template>
        <ng-template ngFor let-combo let-i="index" [ngForOf]="combos">
            <ul *ngIf="combo?.status != 'active' " class="combo_list"  >
                <span class="droparrow" (click)="openCombo(i)"></span>
                <ng-template ngFor let-select let-y="index" [ngForOf]="selects">
                    <li>
                        <span (click)="checkCombo(y)" >{{select?.descripcion}}</span>
                    </li>
                </ng-template>
            </ul>
        </ng-template>
        <!-- <ul class="combo_list active">
          
          <li>
            <span>PETROIL retira producto</span>
          </li>
          <li class="active">
            <span>PEMEX entrega producto</span>
          </li>
          <li>
            <span>Cliente retira producto PEMEX</span>
          </li>
          <li>
            <span>Cliente retira producto planta</span>
          </li>
        </ul> -->
        <input type="hidden" name="formaEntrega" id="formaEntrega">
          <!-- <select name="formaEntrega" id="formaEntrega">
            <option value="1">PETROIL retira producto</option>
            <option value="2">PEMEX retira producto</option>
            <option value="3">Cliente retira producto de PEMEX</option>
            <option value="4">Cliente retira producto Planta</option>
          </select> -->
      </div>
      <div class="input_content">
        <label for="formaCompra">Forma de compra</label>
          <select name="formaCompra" id="formaCompra">
            <option value="1">Crédito</option>
            <option value="2">Efectivo</option>
          </select>
      </div>
      <div class="input_content">
        <label for="tipoProducto">Tipo de producto</label>
          <select name="tipoProducto" id="tipoProducto">
            <option value="1">Diesel Automotriz PETROIL</option>
            <option value="2">Gasolina PETROIL</option>
          </select>
      </div>
      <div class="input_content">
        <label for="cantidad">Cantidad</label>
          <select name="cantidad" id="cantidad">
            <option value="1">2700</option>
            <option value="2">3500</option>
          </select>
      </div>
      <div class="input_content">
        <label for="cantidad">Comentarios</label>
        <textarea name="comentarios" id="comentarios"></textarea>
      </div>
      <div class="center">
          <button ion-button color="orange" type="submit" (click)="onclickPedidos()">Generar Pedido Nuevo</button>
      </div>
    </form>
  </ion-content>