// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

* {
    -webkit-box-sizing: unset;
    box-sizing: unset;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

ion-app * {
    box-sizing: border-box;
}

.c-datepicker {
    word-wrap: normal;
    font-size: initial;
    .active {
        background: transparent;
    }
    .c-datepicker__toggle {
        top: 175px;
    }
    .c-datepicker__header-day {
        background-color: #fd791b;
    }
    .c-datepicker__header-date {
        background-color: #f98f2b;
    }
    .c-datepicker__day-head {
        color: #f98f2b;
        font-weight: normal;
        font-size: 1.5rem
    }
    .c-datepicker__day-body {
        color: #0b3a61;
        font-size: 1.5rem;
        font-weight: bold;
        &.rd-day-prev-month, &.rd-day-next-month {
            color: transparent;
        }
        &.c-datepicker__day--selected {
            color: #f98f2b;
        }
        &.c-datepicker__day--selected::after, &.c-datepicker__day--selected::before {
            background: none;
        }
    }
    .modal-btns {
        .c-btn {
            color: #898989;
        }
    }
    .c-datepicker__header-date__time {
        font-size: 6rem;
        font-weight: bold;
    }
    &.c-datepicker--time-only {
        .c-datepicker__header-date {
            padding: 2px 0;
        }
        .c-datepicker__clock {
            padding: 90px 0 20px 0;
        }
        .c-datepicker__clock::before {
            top: 34px;
            background: #fef4eb;
        }
        .c-datepicker__clock__am-pm-toggle {
            top: 274px;
        }
        .c-datepicker__clock__num {
            font-size: 1.5rem;
            font-weight: bold;
            color: #0b3a61;
        }
        .c-datepicker__day-body--active:not(.hide-hand):before, 
        .c-datepicker__clock__num--active:not(.hide-hand):before, 
        .c-datepicker__clock-hands,
        .c-datepicker__clock .c-datepicker__clock__num:nth-of-type(12).c-datepicker__clock__num--active:not(.hide-hand) ~ .c-datepicker__clock-hands .c-datepicker__hour-hand,
        .u-hover-ball-effect:hover:before, .c-datepicker__day-body:hover:before, .c-datepicker__clock__num:hover:before, .c-datepicker__clock__am-pm-toggle label:hover:before,
        .c-datepicker__hour-hand {
            background: #f98f2b !important;
        }
        .c-datepicker__clock__am-pm-toggle label.c-datepicker__toggle--checked::after {
            background: #0b3a61;
            width: 42px;
            height: 42px;
        }
        .c-datepicker__clock__am-pm-toggle label {
            font-size: 1.8rem;
            &.c-datepicker__toggle--checked {
                color: white;
            }
        }
        .modal-btns {
            .c-btn {
                font-weight: bold;
                color: #0b3a61;
            }
        }
    }
}
  
.home .content_logo {
    margin: auto;
    height: 100%;
}
  
.home .logo {
    display: block;
    max-width: 253px;
    max-height: 78px;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.menu-inner { width: 100%; }
.menu{
    width: calc(100% - 55px);
    -webkit-box-shadow: 11px -1px 9px -4px rgba(201,201,201,1);
    -moz-box-shadow: 11px -1px 9px -4px rgba(201,201,201,1);
    box-shadow: 11px -1px 9px -4px rgba(201,201,201,1);
}
.scroll-content{
    padding: 56px 35px;
}
.bar-button-default-ios,
.bar-button-default.bar-button-ios-default,
.bar-button-clear-ios-default {
  color: #000;
}
.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
    background: none;
}
.toolbar-background-md{
    background: white;
}
.bar-button-default-ios:hover:not(.disable-hover),
.bar-button-default.bar-button-ios-default:hover:not(.disable-hover),
.bar-button-clear-ios-default:hover:not(.disable-hover) {
  color: #000;
}
.header-ios .toolbar-ios:last-child .toolbar-background-ios {
    border-width: 0;
}
.header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios {
    border-style: none;
    border-color: white;
}
.toolbar-background-ios {
    background: #fff;
}
.cerrar {
    font-size: 30px;
    top: 12px;
    position: absolute;
    right: 15px;
}

.list-md .item-block .item-inner {
    border-bottom: none;
}
.label-md,.label-ios {
    margin: 23px 0 23px 0;
    text-align: center;
    color: #0B3B61;
    font-weight: 600;
    font-size: 20px;
}
.item-ios{
    padding-left: 0;
}
.list-ios .item-block .item-inner {
    border-bottom: none;
}
.input-wrapper {
    text-align: center;
    font-size: 20px;
    color: #0B3B61;
    font-weight: 600;
}
.list-ios > .item-block:first-child {
    border-top: none;
}
.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
    border-bottom: none;
}
.item-ios[detail-push] .item-inner, button.item-ios:not([detail-none]) .item-inner, a.item-ios:not([detail-none]) .item-inner {
    background-image: none;
    padding-right: 0;
    background-position: right 14px center;
    background-position: right calc(14px + constant(safe-area-inset-right)) center;
    background-position: right calc(14px + env(safe-area-inset-right)) center;
    background-repeat: no-repeat;
    background-size: 14px 14px;
}
.center{text-align: center;}
.button-ios,.button-md{
    text-transform: initial;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0px 34px;
    font-size: 20px;
    height: 40px;
    margin-top: 66px;
    margin-bottom: 83px;
}

//Login
#login .logo {
    display: block;
    max-width: 253px;
    max-height: 78px;
    margin: auto;
    margin-bottom: 33px;
}
#login label,
#direccion label,
#misdatosForm label{
    font-size: 16px;
    font-weight: 500;
}
#direccionForm label,
#misdatosForm label{
    color: #0B3B61;
}
#login input,
#direccionForm input,
#misdatosForm input{
    width: 100%;
    height: 46px;
    border: none;
    border-bottom: 2px solid black;
    margin-bottom: 18px;
    font-size: 34px;
    text-align: center;
}
#direccionForm input,
#misdatosForm input{
    margin-bottom: 3px;
}
.input_content {
    position: relative;
}
img.ver {
    position: absolute;
    right: 0;
    width: 45px;
    top: 26px;
}
.error1{color: red;font-size: 15px;margin-bottom: 18px;display: inline-block;}
//pedido
.content_logo.header .logo{
    max-width: 81px;
    max-height: 25px;
    margin-left: 14px;
    margin-top: 10px;
}
.titulo1 {
    display: inline-block;
    width: 100%;
    font-size: 30px !important;
    color: #F98E2B;
    font-weight: 500 !important;
    margin-bottom: 10px;
}
.text1 {
    color: #0B3B61;
    font-size: 13px !important;
    display: block;
    margin-bottom: 10px;font-weight: 500;
}
.titulo2 {
    display: block;
    color: #0B3B61;
    font-size: 20px !important;
    margin-top: 28px;
    margin-bottom: 20px;
}
#pedido{
    font-size: 16px;
    color: #0B3B61;
}
#pedidoForm label{font-weight: 600;margin-bottom: 15px;display: inline-block;}
#pedidoForm input,
#pedidoForm select,
#pedidoForm textarea{
    width: 100%;
    border: 2px solid #707070;
    height: 31px;
    border-radius: 0;
    margin-bottom: 15px;
    background-color:white;
}
#pedidoForm select{
    background-image: url("../assets/imgs/arrow.png");
    background-size: 10px;
    background-position: right 10px center;

    background-repeat: no-repeat;
}
#pedidoForm textarea{
    height: 145px;
}
#pedidoForm button,
#direcciones button,
#pedidos button,
#graficas button{
    height: 69px;
    font-size: 20px !important;
    font-weight: 500;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
#pedidos button{
    margin-top: 20px;
    margin-bottom:30px;
}
//Pedidos
#pedidos .icon-ios, #pedidos .ion-ios-add,
#direcciones .icon-ios, #direcciones .ion-ios-add,
#graficas .icon-ios, #graficas .ion-ios-add{margin-right: 16px;font-size: 65px;}
.pedido_content{margin-bottom: 35px;border: 1px solid #707070;height: 62px;vertical-align: middle;}
.s1{float: left;width: 20%;font-size: 10px;text-align: center;color:#0B3B61;border-right: 1px solid #707070;margin-top: 3px;font-weight: 500;}
.linea{border-bottom:1px solid #707070;margin: 3px 5px;}
.s2{float: left;width: 44%;font-size: 13px;color: #0B3B61;font-weight: 500;}
.txt1{margin-top: 5px;}
.content_kg{margin: 2px 0 0 10px;}
.gas_img{width: 100%; display: block;}
.txt3{font-size: 30px;font-weight: 500;color: #0B3B61;}
.s3{float: left;width: 36%;}
.estado_txt{height: 29px;background: #F2C69E;text-align: center;font-size: 16px;vertical-align: middle;font-weight: 500;line-height: 28px;}
.entregado{background: #B5F29E;}
.cancelado{background: #E36C6C;}
.img_direcciones{max-width: 34px;margin-left: 10px;}
.txt2{color: #0B3B61;font-size: 13px !important;font-weight: 500;}
.content_direcciones {
    display: inline-block;
    vertical-align: sub;margin-left: 10px;
}
#direcciones .pedido_content {
    margin-bottom: 35px;
    border: 1px solid #707070;
    height: 62px;
    vertical-align: middle;
    padding: 6px 0;
    box-sizing: border-box;}
#direcciones button{margin: 30px 0 40px 0;}
//gracias
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
.titulo3{
    font-size: 38px;
    color: #0B3B61;
    font-weight: 500;
    width: calc(100% - 36px);
    box-sizing: border-box;
}
//alerta
.icono_alerta {
    position: absolute;
    width: 18px;
    right: 50px;
    top: 12px;
}
.caja1 {
    background: #F98E2B;
    height: 69px;
    vertical-align: middle;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 500;
    line-height: 69px;
    margin-top: 30px;
}
.contenedor_avisos {
    background: #0B3B61;
    height: 41px;
    padding: 0 28px;
    text-align: center;
    vertical-align: middle;
}
.contenedor_avisos .aviso1:first-child{margin-left: 0;}
.aviso1 {
    width: 15%;
    vertical-align: middle;
    padding-top: 8px;
    margin-left: 13.3%;float: left;
}
.color {
    height: 10px;
    background: #E36C6C;
}
.contenedor_alertas_indice{
    margin-bottom: 50px;
}
.contenedor_avisos .aviso1:nth-child(2) .color{
    background: #F5F06C;
}
.contenedor_avisos .aviso1:nth-child(3) .color{
    background: #ACE36C;
}
.contenedor_avisos .aviso1:nth-child(4) .color{
    background: #6CDAE3;
}
.txtaviso {
    color: white;margin-top: 3px;
}
.row_alertas {
    border-top: 2px solid #707070;
    height: 80px;display: table;
    width: 100%;
}
.row_content {
    border-left: 15px solid #ACE36C;
    height: 100%;padding-left: 15px;    vertical-align: middle;
    display: table-cell;
}

.content_rows_alertas .row_alertas:last-child {border-bottom: 2px solid #707070;}

.txt4{
    font-size: 20px;
    font-weight: 500;
    color: #0B3B61;
}
.alerta{
    border-left:15px solid #E36C6C;
}
.aviso{
    border-left:15px solid #F5F06C;
}
.info{
    border-left:15px solid #6CDAE3;
}
.numberAviso{
    position: absolute;
    color: #E36C6C;
    right: 44px;
    top: 12px;
    font-size: 9px;
}
//graficas
#graficas button{
    margin-top: 0;
    margin-bottom: 20px;
}
.content_text1_grafica{
    color: #0B3B61;text-align: center;
}
.texto1G{
    font-size: 20px;
    font-weight: 500;display: inline-block;
}
.texto2G{font-size: 10px;}
.content_texto2G {
    display: inline-block;
    line-height: 9px;
}
.division{border-bottom: 2px solid #707070;margin: 10px 0;width: 100%;}
.content_fecha_hora{color:#0B3B61;font-size: 13px;font-weight: 500;margin-bottom: 10px;}
.content_fecha_hora span:first-child{float: left;}
.content_fecha_hora span:last-child{float: right;}
.clearfix:after{content: '.';display: block;height: 0;clear: both;visibility: hidden;}
.box_pedido_content{background: #FF6D10;padding: 20px 10px 10px;text-align: center;position: relative;color: #0B3B61;margin-bottom: 2px;height: 198px;overflow: hidden;}
.tipo_gas_img{width: 121px;margin-bottom: 15px;}
.menu_pedido{position: absolute;right: 10px;top: 27px;}
.content_txt2{margin-top: 10px;}
.texto3G{font-size: 30px;font-weight: 500;line-height: 30px;}
.box_pedido_content:nth-of-type(odd){
    background: #F98E2B;
}
.active{background: white;padding-left: 0;padding-right: 0; height: auto;}
#graficas .box_pedido_content .icon-ios, #graficas .box_pedido_content .ion-ios-add{
    font-size: 25px;margin-right: 5px;
}
.content_grafica_barras {
    position: relative;
    left: 0;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
    padding-left: 5px;
    padding-right: 5px;
    .pesos {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-size: 1rem;
        font-weight: bold;
    }
}
.contenido_precios_litro{text-align: left;align-items: center;display: flex;justify-content: left;}
.tipo_gasgrafica{width: 121px;margin-right: 10px;}
.content_tabla_litros{font-size: 20px;font-weight: 500;width: 100%;}
.content_tabla_litros table{width: 100%;}
.content_tabla_litros > div{display: table-cell;}
